body {
  line-height: 1.5;
  font-size: 16px;
  font-family: sans-serif;
}

.group-info {
  font-weight: bold;
}

.group-description {
  font-size: 12px;
}

.order-table {
  border-style: inset;
  border-color: black;
  border-width: thin;
}